.login {
  margin: 180px auto 0;
  width: 480px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 80px;
}

.button {
  max-width: max-content;
  margin: 0 auto;
}

.link {
  color: #4c4cff;
  text-decoration: none;
}

.register {
  margin-bottom: 16px;
}
