.elements {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: fit-content;
  min-height: 100px;
  margin: 60px 0 0;
  padding: 0;
  list-style-type: none;
  max-height: 656px;
  overflow-y: auto;
}

.element {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 23px;
  gap: 40px;
}
