.feed {
  width: 100%;
  max-width: 1280px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 60px;
}

.orders {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 852px;
  overflow-x: auto;
  padding-bottom: 16px;
}
