.profile {
  display: grid;
  gap: 60px;
  grid-template-columns: minmax(0, 340px) minmax(0, 480px);
  width: 100%;
  max-width: 1280px;
  margin: 120px auto 0;
  box-sizing: border-box;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.link {
  display: block;
  width: max-content;
  padding: 20px;
  text-decoration: none;
  transition: color 0.3s;
}

.link:hover {
  color: #f2f2f3;
}

.link_active {
  color: #f2f2f3;
}

.info {
  margin-top: 80px;
  padding-left: 20px;
}
