.name {
  margin: 16px 0 32px;
  text-align: center;
}

.values {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #8585ad;
}

.value {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
}
