.order {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
  width: 100%;
  max-width: 1280px;
  box-sizing: border-box;
  margin: 40px auto 0;
  padding: 0 20px;
}

.custom-scroll::-webkit-scrollbar {
  width: 12px;
}
.custom-scroll::-webkit-scrollbar-track {
  background: #2f2f37;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background: #8585ad;
  border: 3px solid #2f2f37;
  border-radius: 6px;
}
