.tabs {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.ingridients {
  overflow-y: auto;
  max-height: 765px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.ingridient_items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 24px 0 0;
  padding: 0;
  column-gap: 24px;
  row-gap: 32px;
  list-style-type: none;
}

.custom_scroll::-webkit-scrollbar {
  width: 12px;
}
.custom_scroll::-webkit-scrollbar-track {
  background: #2f2f37;
}
.custom_scroll::-webkit-scrollbar-thumb {
  background: #8585ad;
  border: 3px solid #2f2f37;
  border-radius: 6px;
}
