.orderCard {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  background: #1c1c21;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 40px;
  text-decoration: none;
  color: inherit;
  transition: opacity 0.3s;
}

.orderCard:hover {
  opacity: 0.8;
}

.top {
  display: flex;
  justify-content: space-between;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.price {
  display: flex;
  align-items: center;
  gap: 8px;
}

.ingredients {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row-reverse;
}

.ingredientPreview {
  position: relative;
  margin-right: -16px;
}

.ingredientPreviewMore {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(28, 28, 33, 0.6);
  margin: 0;
}
