.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  margin: 40px 40px 0;
  padding: 16px 0;
  background: #1c1c21;
  border: 2px solid #4c4cff;
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04),
    0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
}

.button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px 20px;
  color: var(--text-inactive-color);
}

.list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.profile {
  margin-left: auto;
}
